<%- include('partials/header'); -%>


    <div class="pimg1">
        <div class="hometext">
            <p ><span>The Best Place For The Finest</span></p>
            <h2>Mongo</h2>
        </div>
    </div>

    <section class="section section-light">
        <h2>Our Advantages</h2>
        <hr width="20%">
        <p>
        We hold ourselves to elevated standards of quality in our foods to ensure that each <br> item we offer is a delight to both the eye and the palate.
        </p>

        <div class="services-section">
            <div class="inner-width">
                <div class="services-container">
                    <div class="service-box">
                        <div class="service-icon">
                            <i class="fas fa-bread-slice"></i>
                        </div>
                        <div class="service-title">Our Bread</div>
                        <div class="service-desc">
                            The unique flavors and textures of our breads come from the use of natural starters, minimal commercial yeast, and a slow fermentation proccess
                        </div>
                    </div>
        
                    <div class="service-box">
                        <div class="service-icon">
                            <i class="fas fa-truck-moving"></i>
                        </div>
                        <div class="service-title">Shipping Options</div>
                        <div class="service-desc">
                            The following shipping options are available depending upon your destination and the amount of your order.
                        </div>
                    </div>
        
                    <div class="service-box">
                        <div class="service-icon">
                            <i class="fas fa-calendar-alt"></i>
                        </div>
                        <div class="service-title">Schedule Your Order</div>
                        <div class="service-desc">
                        Place your ordder for a date you need in advance and it will be delivered as soon as possible.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="pimg2">
    </div>

    <section class="section section-light">
        <h2>Counters</h2>
        <hr width="10%">
        <p>
            Your Choice! Your Life!<br> Customers are our first priority...
        </p>
    </section>

    <!-- Counter -->
    <div class="middle">
        <div class="counting-sec">
        <div class="inner-width">
            <div class="col">
                <i class="far fa-smile-wink"></i>
                <div class="num">47000</div>
                Satisfied clients
            </div>

            <div class="col">
                <i class="fas fa-briefcase"></i>
                <div class="num">89</div>
                Services
            </div>

            <div class="col">
                <i class="far fa-heart"></i>
                <div class="num">22687</div>
                Likes on Average
            </div>

            <div class="col">
                <i class="far fa-object-group"></i>
                <div class="num">87</div>
                We launched
            </div>
        </div>
        </div>
    </div>

    <section class="section section-light blog">
        <h2>Latest blog posts</h2>
        <hr width="22%">    

        <!-- Blog Card -->
        <div class="section-dark mb-5">
            <div class="container">
                <div class="card">
                    <div class="imgBx">
                        <img src="/bakeryimg/bread1.jpg" alt="">
                    </div>
                    <div class="content">
                        <h2>Milling and the first bread! <br> Emmer/Red Wheat</h2>
                        <p class="date">September 9, 2020</p>
                        <p>Our mill has arrived and we're so excited. This marks a new chapter in our Bakery and how we treat our products. Starting this week, we have begun incorporating some of the fresh...</p>
                    </div>
                </div>
        
                <div class="card">
                    <div class="imgBx">
                        <img src="/bakeryimg/bread2.jpg" alt="">
                    </div>
                    <div class="content">
                        <h2>Ancient Grains</h2>
                        <p class="date">September 23, 2020</p>
                        <p>Ancient Grains bread is a blend of 3 different grains collectively known as the "Ancient Grains" because they haven't been manipulated over....</p>
                    </div>
                </div>
        
                <div class="card">
                    <div class="imgBx">
                        <img src="/bakeryimg/bread4.jpg" alt="">
                    </div>
                    <div class="content">
                        <h2>White Whole Wheat</h2>
                        <p class="date">October 9, 2020</p>
                        <p>Now that we have the mill we have access to things we never had before. There are hundreds (thousands?) of varieites of wheat out there. Most of what we get is a type of red wheat...</p>
                    </div>
                </div>
            </div>
        </div>

        <a class="btn" href="#">View all blog posts</a>
    </section>
    <!-- <div class="pimg3">
    </div> -->

    <script src="https://kit.fontawesome.com/ba33ab971e.js"></script>
    <script type="text/javascript">
        $(".num").counterUp({delay:10,time:1000});
    </script>



<%- include('partials/footer'); -%>