<%- include('partials/header'); -%>  
    
    <!-- Coffee Menu -->
    <div class="menu">
        <div class="container-fluid  p-0">
            <div class="section-heading my-5 text-center">
                <h4>Our Tasty Drink</h4>
                <h1 class="diplay-4">The Coffe Menu</h1>
            </div>
            <!-- Row #1 -->
            <div class="row no-gutters">
                <!-- Column set #1 -->
                <div class="col-12 col-sm-6 col-xl-2 order-sm-1 order-xl-1">
                    <img src="/cafemenuimg/latte.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-2 order-xl-2 point-left">
                    <div class="menu-item-desc">
                        <h6>1500 MMK</h6>
                        <h1>Latte</h1>
                        <a href="confirmorder.php" class="btn mt-3">Order Now</a>
                    </div>
                </div>
                <!-- Column set #2 -->
                <div class="col-12 col-sm-6 col-xl-2 order-sm-4 order-xl-3">
                    <img src="/cafemenuimg/espresso.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-3 order-xl-4 point-left">
                    <div class="menu-item-desc">
                        <h6>1500 MMK</h6>
                        <h1>Espresso</h1>
                        <a href="confirmorder.php" class="btn mt-3">Order Now</a>
                    </div>
                </div>
                <!-- Column set #3 -->
                <div class="col-12 col-sm-6 col-xl-2 order-sm-5 order-xl-5">
                    <img src="/cafemenuimg/doubleespresso.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-6 order-xl-6 point-left">
                    <div class="menu-item-desc">
                        <h6>1500 MMK</h6>
                        <h1>Double Espresso</h1>
                        <a href="confirmorder.php" class="btn mt-3">Order Now</a>
                    </div>
                </div>
            </div>

            <!-- Row #2 -->
            <div class="row no-gutters">
                <!-- Column set #4 -->
                <div class="col-12 col-sm-6 col-xl-2 order-sm-2 order-xl-2">
                    <img src="/cafemenuimg/americano.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 orer-sm-1 order-xl-1 point-right">
                    <div class="menu-item-desc">
                        <h6>1500 MMK</h6>
                        <h1>Americano</h1>
                        <a href="confirmorder.php" class="btn mt-3">Order Now</a>
                    </div>
                </div>
                <!-- Column set #5 -->
                <div class="col-12 col-sm-6 col-xl-2 order-sm-3 order-xl-4">
                    <img src="/cafemenuimg/macchiato.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-5 order-xl-3 point-right">
                    <div class="menu-item-desc">
                        <h6>1500 MMK</h6>
                        <h1>Macchiato</h1>
                        <a href="confirmorder.php" class="btn mt-3">Order Now</a>
                    </div>
                </div>
                <!-- Column set #6 -->
                <div class="col-12 col-sm-6 col-xl-2 order-sm-6 order-xl-6">
                    <img src="/cafemenuimg/cappuccino.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-5 order-xl-5 point-right">
                    <div class="menu-item-desc">
                        <h6>2000 MMK</h6>
                        <h1>Cappuccino</h1>
                        <a href="confirmorder.php" class="btn mt-3">Order Now</a>
                    </div>
                </div>
            </div>

            <!-- Row #1 -->
            <div class="row no-gutters">
                <!-- Column set #1 -->
                <div class="col-12 col-sm-6 col-xl-2 order-sm-1 order-xl-1">
                    <img src="/cafemenuimg/flatwhite.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-2 order-xl-2 point-left">
                    <div class="menu-item-desc">
                        <h6>1500 MMK</h6>
                        <h1>Flat White</h1>
                        <a href="confirmorder.php" class="btn mt-3">Order Now</a>
                    </div>
                </div>
                <!-- Column set #2 -->
                <div class="col-12 col-sm-6 col-xl-2 order-sm-4 order-xl-3">
                    <img src="/cafemenuimg/mocha.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-3 order-xl-4 point-left">
                    <div class="menu-item-desc">
                        <h6>1500 MMK</h6>
                        <h1>Mocha</h1>
                        <a href="confirmorder.php" class="btn mt-3">Order Now</a>
                    </div>
                </div>
                <!-- Column set #3 -->
                <div class="col-12 col-sm-6 col-xl-2 order-sm-5 order-xl-5">
                    <img src="/cafemenuimg/hotchocolate.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-6 order-xl-6 point-left">
                    <div class="menu-item-desc">
                        <h6>2000 MMK</h6>
                        <h1>Hot Chocolate</h1>
                        <a href="confirmorder.php" class="btn mt-3">Order Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include('partials/footer'); -%>