<%- include('partials/header'); -%>  

    <!-- Juices Menu -->
    <div class="menu">
        <div class="container-fluid  p-0">
            <div class="section-heading my-5 text-center">
                <h4>Our Tasty Drink</h4>
                <h1 class="diplay-4">The Juices Menu</h1>
            </div>
            <!-- Row #1 -->
            <div class="row no-gutters">
                <!-- Column set #1 -->
                <div class="col-12 col-sm-6 col-xl-2 order-sm-1 order-xl-1">
                    <img src="/juiceimg/apple.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-2 order-xl-2 point-left">
                    <div class="menu-item-desc">
                        <h6>2000 MMK</h6>
                        <h1>Apple Juice</h1>
                        <a href="confirmorder.php" class="btn mt-3">Order Now</a>
                    </div>
                </div>
                <!-- Column set #2 -->
                <div class="col-12 col-sm-6 col-xl-2 order-sm-4 order-xl-3">
                    <img src="/juiceimg/carrot.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-3 order-xl-4 point-left">
                    <div class="menu-item-desc">
                        <h6>2000 MMK</h6>
                        <h1>Carrot Juice</h1>
                        <a href="confirmorder.php" class="btn mt-3">Order Now</a>
                    </div>
                </div>
                <!-- Column set #3 -->
                <div class="col-12 col-sm-6 col-xl-2 order-sm-5 order-xl-5">
                    <img src="/juiceimg/grape.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-6 order-xl-6 point-left">
                    <div class="menu-item-desc">
                        <h6>2000 MMK</h6>
                        <h1>Grape Juice</h1>
                        <a href="confirmorder.php" class="btn mt-3">Order Now</a>
                    </div>
                </div>
            </div>

            <!-- Row #2 -->
            <div class="row no-gutters">
                <!-- Column set #4 -->
                <div class="col-12 col-sm-6 col-xl-2 order-sm-2 order-xl-2">
                    <img src="/juiceimg/lemon.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 orer-sm-1 order-xl-1 point-right">
                    <div class="menu-item-desc">
                        <h6>2000 MMK</h6>
                        <h1>Lemon Juice</h1>
                        <a href="confirmorder.php" class="btn mt-3">Order Now</a>
                    </div>
                </div>
                <!-- Column set #5 -->
                <div class="col-12 col-sm-6 col-xl-2 order-sm-3 order-xl-4">
                    <img src="/juiceimg/orange.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-5 order-xl-3 point-right">
                    <div class="menu-item-desc">
                        <h6>2000 MMK</h6>
                        <h1>Orange Juice</h1>
                        <a href="confirmorder.php" class="btn mt-3">Order Now</a>
                    </div>
                </div>
                <!-- Column set #6 -->
                <div class="col-12 col-sm-6 col-xl-2 order-sm-6 order-xl-6">
                    <img src="/juiceimg/peach.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-5 order-xl-5 point-right">
                    <div class="menu-item-desc">
                        <h6>2000 MMK</h6>
                        <h1>Peach Juice</h1>
                        <a href="confirmorder.php" class="btn mt-3">Order Now</a>
                    </div>
                </div>
            </div>

            <!-- Row #1 -->
            <div class="row no-gutters">
                <!-- Column set #1 -->
                <div class="col-12 col-sm-6 col-xl-2 order-sm-1 order-xl-1">
                    <img src="/juiceimg/pineapple.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-2 order-xl-2 point-left">
                    <div class="menu-item-desc">
                        <h6>2000 MMK</h6>
                        <h1>Pine-apple Juice</h1>
                        <a href="confirmorder.php" class="btn mt-3">Order Now</a>
                    </div>
                </div>
                <!-- Column set #2 -->
                <div class="col-12 col-sm-6 col-xl-2 order-sm-4 order-xl-3">
                    <img src="/juiceimg/raspberry.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-3 order-xl-4 point-left">
                    <div class="menu-item-desc">
                        <h6>2000 MMK</h6>
                        <h1>Rasp-Berry Juice</h1>
                        <a href="confirmorder.php" class="btn mt-3">Order Now</a>
                    </div>
                </div>
                <!-- Column set #3 -->
                <div class="col-12 col-sm-6 col-xl-2 order-sm-5 order-xl-5">
                    <img src="/juiceimg/strawberry.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-6 order-xl-6 point-left">
                    <div class="menu-item-desc">
                        <h6>2000 MMK</h6>
                        <h1>Strawberry Juice</h1>
                        <a href="confirmorder.php" class="btn mt-3">Order Now</a>
                    </div>
                </div>
            </div>

            <!-- Row #2 -->
            <div class="row no-gutters">
                <!-- Column set #4 -->
                <div class="col-12 col-sm-6 col-xl-2 order-sm-2 order-xl-2">
                    <img src="/juiceimg/watermelon.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 orer-sm-1 order-xl-1 point-right">
                    <div class="menu-item-desc">
                        <h6>2000 MMK</h6>
                        <h1>Watermelon Juice</h1>
                        <a href="confirmorder.php" class="btn mt-3">Order Now</a>
                    </div>
                </div>
                <!-- Column set #5 -->
                <div class="col-12 col-sm-6 col-xl-2 order-sm-3 order-xl-4">
                    <img src="/juiceimg/chocolateshake.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-5 order-xl-3 point-right">
                    <div class="menu-item-desc">
                        <h6>2500 MMK</h6>
                        <h1>Chocolate Shake</h1>
                        <a href="confirmorder.php" class="btn mt-3">Order Now</a>
                    </div>
                </div>
                <!-- Column set #6 -->
                <div class="col-12 col-sm-6 col-xl-2 order-sm-6 order-xl-6">
                    <img src="/juiceimg/strawberryshake.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-5 order-xl-5 point-right">
                    <div class="menu-item-desc">
                        <h6>2500 MMK</h6>
                        <h1>Strawberry Shake</h1>
                        <a href="confirmorder.php" class="btn mt-3">Order Now</a>
                    </div>
                </div>
            </div>

            <!-- Row #1 -->
            <div class="row no-gutters">
                <!-- Column set #1 -->
                <div class="col-12 col-sm-6 col-xl-2 order-sm-1 order-xl-1">
                    <img src="/juiceimg/strawberrysmoothie.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-2 order-xl-2 point-left">
                    <div class="menu-item-desc">
                        <h6>3000 MMK</h6>
                        <h1>Strawberry Smoothie</h1>
                        <a href="confirmorder.php" class="btn mt-3">Order Now</a>
                    </div>
                </div>
                <!-- Column set #2 -->
                <div class="col-12 col-sm-6 col-xl-2 order-sm-4 order-xl-3">
                    <img src="/juiceimg/coconutsmoothie.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-3 order-xl-4 point-left">
                    <div class="menu-item-desc">
                        <h6>3000 MMK</h6>
                        <h1>Coconut Smoothie</h1>
                        <a href="confirmorder.php" class="btn mt-3">Order Now</a>
                    </div>
                </div>
                <!-- Column set #3 -->
                <div class="col-12 col-sm-6 col-xl-2 order-sm-5 order-xl-5">
                    <img src="/juiceimg/blackberrysmoothie.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-6 order-xl-6 point-left">
                    <div class="menu-item-desc">
                        <h6>3000 MMK</h6>
                        <h1>Black-Berry Smoothie</h1>
                        <a href="confirmorder.php" class="btn mt-3">Order Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include('partials/footer'); -%>